<!DOCTYPE html>
<html ng-app="pokedex">
  <head>
    <meta charset="utf-8">
    <title>Angular Demo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body ng-controller="mainController">
    <h2>{{title}}</h2>
    <form ng-submit="addPokemon()" name="newPokemonForm">
      <input type="text" ng-class="{invalid: newPokemonForm.name.$dirty && newPokemonForm.name.$invalid}" ng-model="newPokemon.name" name="name" placeholder="Enter Pokemon Name" required>
      <label for="captured">Captured?</label>
      <input type="checkbox" ng-model="newPokemon.captured" id="captured" name="captured">
      <input type="submit" class="btn btn-primary" value="Add Pokemon">
    </form>
    <div ng-show="newPokemonForm.$dirty && !newPokemonForm.$valid">Yo, your form is wrong</div>
    <ul>
      <li ng-repeat="pokemon in pokemons">
        <span ng-hide="pokemon.edit" ng-dblclick="edit(pokemon)">{{pokemon.name}}</span>
        <form ng-show="pokemon.edit" ng-submit="update()">
          <input type="text" ng-model="pokemon.name">
          <input type="submit" value="Update">
        </form>
        <input type="button" ng-click="delete()" value="X">
      </li>
    </ul>
    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script src="app/data.js" ></script>
    <script src="app/pokedex/controller.js" ></script>
    <script src="app/app.js" ></script>
  </body>
</html>
